*{
    padding: 0;
    margin: 0;
    font-family: 'Poppin', sans-serif;
    box-sizing: border-box;
}
body{
    background: #250057;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #fff;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.container input{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
}
.container img{
    height: 1rem;
}